<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-usuario></app-navigation-usuario>

<form>
  <div class="form-group col-md-12" style="margin-top: 20px;">      
      <input type="text" class="form-control" [(ngModel)]="miComent.descripcion" [ngModelOptions]="{standalone: true}"  placeholder="NUEVO COMENTARIO" style="margin-bottom: 5px;">
      <button type="button" class="btn btn-outline-success btn-block" style="margin-bottom: 5px;" (click)="addComentario()">AGREGAR COMENTARIO  <i class="fas fa-plus-circle"></i></button>      
  </div>
</form>

<div class="row">
  <div class="col-12 col-sm-12 col-md-7 order-2 order-sm-2 order-md-1">
    <ul class="list-unstyled">
      <li class="media" style="border:solid; border-color:#E5E8E8; border-width: 1px; margin-bottom: 10px;" *ngFor="let coment of misComentarios">
        <img src="{{coment[1]}}" style="width: 60px; height: 60px; border-radius: 50px; margin-left: 20px; margin-top: 20px;" class="mr-3" alt="...">
        <div class="media-body" style="padding-left: 5px; padding-top: 15px; padding-right: 15px;">
          <p style="text-align: justify; background-color: #EBEDEF ; color: black;"><strong style="color: blue;">{{coment[0]}}</strong><br>{{coment[2]}}</p>
          <p><small>{{coment[3]}}</small></p>
        </div>
      </li>     
    </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-4 order-1 order-sm-1 order-md-2" style="margin-bottom: 15px;" >
      <div class="col-md-12">
        <div class="card card-body text-center">
            <h3>{{miProduct.nombre == '' ? 'NOMBRE' : miProduct.nombre}}</h3>
            <p>{{miProduct.descripcion == '' ? 'DESCRIPCION' : miProduct.descripcion}}</p>
            <img [src]="miProduct.ruta" class="img-fluid" alt="No Image"> <!--se ejecuta lo de arriba por el #-->  
            <p>{{miProduct.nom_cat == '' ? 'CATEGORIA' : miProduct.nom_cat}}</p>
            <p>{{miProduct.precio == 0 ? 'Q. 0.0' : miProduct.precio}}</p>
        </div>
      </div>
    </div>
</div>






