<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-usuario></app-navigation-usuario>

<!--TARJETA PRINCIPAL, DONDE INSERTAREMOS LOS DATOS-->
<div class="row" style="margin-top: 25px;"> <!--para que los ponga a la par-->

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form> 
                    <div class="form-group">
                        <label style="color: navy;">Nombre</label>
                        <input type="text" name="nombre" [(ngModel)]="miProduct.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre" class="form-control">
                    </div>
                    <label style="color: navy;">Categoria</label>
                    <div class="form-group">
                        <input type="text" name="Categoria" [(ngModel)]="miProduct.nom_cat" [ngModelOptions]="{standalone: true}" placeholder="Nombre" class="form-control">
                    </div>
                    <label style="color: navy;">Descripcion</label>                
                    <div class="form-group">
                        <textarea class="form-control" name="descripcion" [(ngModel)]="miProduct.descripcion" [ngModelOptions]="{standalone: true}" placeholder="Descripcion" rows="3"></textarea>
                    </div>
                    <label style="color: navy;">Palabras Clave</label>
                    <div class="form-group">
                        <textarea class="form-control" name="palab_clave" [(ngModel)]="miProduct.palab_clave" [ngModelOptions]="{standalone: true}" placeholder="Palabras Clave" rows="3"></textarea>
                    </div>
                    <label style="color: navy;">Precio Q.</label>
                    <div class="form-group">
                        <input type="text" name="precio" [(ngModel)]="miProduct.precio" [ngModelOptions]="{standalone: true}" placeholder="Precio" class="form-control">
                    </div>                    
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body text-center">
            <form>
                <img [src]="miProduct.ruta == '' ? '/assets/productoSinFoto.png' : miProduct.ruta" class="card-img-top"  alt="">
                <button class="btn btn-outline-success" style="margin: 10px;" (click)="updatemegusta()">
                    <i class="fas fa-thumbs-up"></i>
                    <label> {{cantMegusta}}</label>
                </button>
                <button class="btn btn-outline-danger" style="margin: 10px;" (click)="updateNomegusta()">
                    <i class="fas fa-thumbs-down"></i>
                    <label> {{cantNomegusta}}</label>
                </button>          
            </form>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body text-center">
            <form>                
                <button class="btn btn-outline-info btn-block">
                    <i class="fas fa-comment-dots"></i> CHAT
                </button>
                <button [routerLink]="['comentariosProducto',idProducto]" class="btn btn-outline-info btn-block">
                    <i class="fas fa-comment-alt"></i> COMENTARIO
                </button>
                <button class="btn btn-outline-info btn-block" (click)="abrirVentanaCantidad(contenido)">
                    <i class="far fa-plus-square"></i> AGREGAR A CARRO
                </button>            
            </form>
        </div>
    </div>

</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
      <h5 class="modal-title">CANTIDAD</h5>
      <button type="button" (click)="aceptar()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-12">
          <i class="fas fa-exclamation-triangle"></i>Porfavor ingrese un numero.
        </div>
        <div class="form-group col-md-12">
          Ingrese cantidad:
        </div>
        <div class="form-group col-md-12">
          <input [(ngModel)]="cantidadAdd" [ngModelOptions]="{standalone: true}" type="number" name="cantidad" placeholder="Cantidad" class="form-control">
        </div>       
        <button type="button" class="btn btn-outline-success btn-block" (click)="addCarrito()">AGREGAR</button>
      </div>
    </div>
  </ng-template>
