<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-admin></app-navigation-admin>

<!--TARJETA PRINCIPAL, DONDE INSERTAREMOS LOS DATOS-->
<div class="row" style="margin-top: 25px;"> <!--para que los ponga a la par-->

    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form>                     
                    <div class="form-group">
                        <input type="text" [(ngModel)]="miAdmin.nombre" [ngModelOptions]="{standalone: true}" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="miAdmin.apellido" [ngModelOptions]="{standalone: true}" name="apellido" placeholder="Apellido" class="form-control">
                    </div>                
                    <div class="form-group">
                        <input type="text" [(ngModel)]="miAdmin.pais" [ngModelOptions]="{standalone: true}" name="pais" placeholder="Pais" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="miAdmin.fech_nac" [ngModelOptions]="{standalone: true}" type="date" value="2020-11-06">
                    </div>
                    <div class="form-group">
                        <input type="text" name="correo" [(ngModel)]="miAdmin.correo" [ngModelOptions]="{standalone: true}" placeholder="Correo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="pass" [(ngModel)]="miAdmin.pass" [ngModelOptions]="{standalone: true}" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="confPass" placeholder="Confirm Pass" class="form-control">
                    </div>                    
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body text-center">
            <form>
                <h5>Foto de Perfil</h5>
                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput><!--cuando de click en la imagen le pasamos un evento-->
                <img [src]="photoSelecter || miAdmin.image" class="img-fluid" alt="No Image" (click)="photoInput.click()"> <!--se ejecuta lo de arriba por el #-->  
                <p>Para actualizar foto, click encima de la misma</p>
                <button class="btn btn-outline-info btn-block" (click)="updateAdmin(contenido)">
                    <i class="fas fa-edit"></i> MODIFICAR DATOS
                </button>                     
            </form>
        </div>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
      <h5 class="modal-title">DATOS ACTUALIZADOS</h5>
      <button type="button" (click)="aceptar()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="/assets/check.png" style="width: 200px; height: 140px;">
        </div>
        <div class="form-group col-md-6" style="padding-left: 15px; padding-top: 50px;">
          Se han actualizado sus datos correctamente.
        </div>
        <button type="button" class="btn btn-outline-success btn-block" (click)="aceptar()">ACEPTAR</button>
      </div>
    </div>
</ng-template>

