<div class="float-md-left col-md-4 offset-md-4" style="padding: 10px;">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            RECUPERACION DE PASSWORD            
        </div>       
        <div class="card-body">
            <div class="form-group col-md-12">
                <input [(ngModel)]="miPass" [ngModelOptions]="{standalone: true}" type="text" name="pass" placeholder="Password" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <input [(ngModel)]="confPass" [ngModelOptions]="{standalone: true}" type="text" name="confpass" placeholder="Confirmar Password" class="form-control">
            </div>    
        </div>
        <button class="btn btn-success btn-block" (click)="recuperar(contenido)">
            RECUPERAR
        </button>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
      <h5 class="modal-title">SE HA GUARDADO SU NUEVA PASSWORD</h5>
      <button type="button" (click)="aceptar()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="/assets/check.png" style="width: 200px; height: 140px;">
        </div>
        <div class="form-group col-md-6" style="padding-left: 15px; padding-top: 50px;">
          Ya puede acceder al sistema con su nueva password.
        </div>
        <button type="button" class="btn btn-outline-success btn-block" (click)="aceptar()">ACEPTAR</button>
      </div>
    </div>
</ng-template>
