<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-admin></app-navigation-admin>


<table class="table table-bordered table-dark" style="margin-top: 15px;">
    <thead>    
      <tr class="table-primary" style="color: black;">
        <th scope="col" style=" padding-bottom: 40px;" rowspan="2">CORREO</th>
        <th scope="col" style=" padding-bottom: 40px;" rowspan="2">DESCRIPCION</th>
        <th scope="col" style="">FECHA   
            <button type="button" class="btn btn-outline-danger" style="font-size: 20px; margin-left: 5px;" (click)="ordenASC()"><i class="fas fa-arrow-circle-up"></i></button>
            <button type="button" class="btn btn-outline-danger" style="font-size: 20px; margin-left: 5px;" (click)="ordenDESC()"><i class="fas fa-arrow-circle-down"></i></button>
        </th>        
      </tr>    
    </thead>
    <tbody>
      <tr style="color: white;" *ngFor="let celda of miBitacora">
        <td>{{celda[1]}}</td>
        <td>{{celda[2]}}</td>
        <td>{{celda[3]}}</td>
      </tr> 
    </tbody>
</table>