<div class="col-md-6 offset-md-3" style="margin-top: 25px;">
  <span class="d-block p-3 bg-dark text-white">REGISTRATE <br> Es rapido y facil. </span>
    <p></p>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" [(ngModel)]="miClient.nombre" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
              <input type="text" class="form-control" [(ngModel)]="miClient.apellido" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Apellido">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="email" class="form-control" [(ngModel)]="miClient.correo" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Correo">
          </div>
        </div>        
        <div class="form-row">            
          <div class="form-group col-md-6">
            <input type="password" class="form-control" [(ngModel)]="miClient.pass" [ngModelOptions]="{standalone: true}" placeholder="Password">
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" placeholder="Confirm password">
          </div>
        </div>       
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" [(ngModel)]="miClient.pais" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Pais">
          </div> 
          <div class="form-group col-md-6">
            <input class="form-control" type="date" value="2020-11-06" [(ngModel)]="miClient.fech_nac" [ngModelOptions]="{standalone: true}" >
          </div>
        </div>
        <div class="form-row">            
            <div class="col-md-6 offset-md-3">
                <p></p>
                <div class="card card-body text-center">
                  <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput><!--cuando de click en la imagen le pasamos un evento-->
                  <img [src]="photoSelecter || '/assets/productoSinFoto.png'" class="img-fluid" alt="No Image" (click)="photoInput.click()"> <!--se ejecuta lo de arriba por el #-->
                </div>  
            </div>
        </div>
        <div class="form-group col-md-12">
          <div class="alert alert-danger" role="alert" *ngIf="alert" style="text-align: center;">
              NO SE PUDO CREAR LA CUENTA
          </div>
        </div>           
        <button type="submit" class="btn btn-outline-primary btn-block" (click)="addNewCliente(contenido)">REGISTRARSE</button>
      </form>
</div>

<ng-template #contenido let-modal>
      <div class="modal-header">
        <h5 class="modal-title">CUENTA CREADA</h5>
        <button type="button" (click)="aceptar()" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            <img src="/assets/check.png" style="width: 100px; height: 70px;">
          </div>
          <div class="form-group col-md-10" style="padding-left: 15px;">
            Para poder acceder a la plataforma tiene que verificar primero su cuenta, se envio un correo de verificacion a la direccion: {{miClient.correo}}.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="aceptar()">ACEPTAR</button>
      </div>
</ng-template>
