<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-usuario></app-navigation-usuario>

<!--TARJETA PRINCIPAL, DONDE INSERTAREMOS LOS DATOS-->
<div class="row" style="margin-top: 25px;"> <!--para que los ponga a la par-->

    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form> 
                    <div class="form-group">
                        <input type="text" name="nombre" [(ngModel)]="miProduct.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="miProduct.nom_cat" [ngModelOptions]="{standalone: true}">
                            <option>SELEC CATEGORIA</option>
                            <option *ngFor="let nomCat of misCategorias" >{{nomCat}}</option>
                        </select>
                    </div>                
                    <div class="form-group">
                        <textarea class="form-control" name="descripcion" [(ngModel)]="miProduct.descripcion" [ngModelOptions]="{standalone: true}" placeholder="Descripcion" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="palab_clave" [(ngModel)]="miProduct.palab_clave" [ngModelOptions]="{standalone: true}" placeholder="Palabras Clave" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" name="precio" [(ngModel)]="miPrecio" [ngModelOptions]="{standalone: true}" placeholder="Precio" class="form-control">
                    </div>
                    <button class="btn btn-success btn-block" (click)="addNewProducto(contenido)">
                        GUARDAR
                    </button>
                </form>
            </div>
        </div>
    </div>


<!--PARA IR VISUALIZANDO COMO VAN QUEDANDO LOS DATOS-->
    <div class="col-md-4">
        <div class="card card-body text-center">
            <h3>{{miProduct.nombre == '' ? 'NOMBRE' : miProduct.nombre}}</h3>
            <p>{{miProduct.descripcion == '' ? 'DESCRIPCION' : miProduct.descripcion}}</p>
            <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput><!--cuando de click en la imagen le pasamos un evento-->
            <img [src]="photoSelecter || miProduct.ruta" class="img-fluid" alt="No Image" (click)="photoInput.click()"> <!--se ejecuta lo de arriba por el #-->  
            <p>{{miProduct.nom_cat == '' ? 'CATEGORIA' : miProduct.nom_cat}}</p>
            <p>{{miPrecio == 0 ? 'Q. 0.0' : miPrecio}}</p>
        </div>
    </div>

</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
      <h5 class="modal-title">PRODUCTO GUARDADO</h5>
      <button type="button" (click)="aceptar()" aria-label="Close" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="/assets/check.png" style="width: 200px; height: 140px;">
        </div>
        <div class="form-group col-md-6" style="padding-left: 15px; padding-top: 50px;">
          Se ha guardado su producto correctamente
        </div>
        <button type="button" class="btn btn-outline-success btn-block" (click)="aceptar()">ACEPTAR</button>
      </div>
    </div>
</ng-template>
