
<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-usuario></app-navigation-usuario>

<!--PARA BUSQUEDAS-->    
<div class="form-row" style="padding-top: 15px;">
  <!--PARA BUSCAR PRODUCTO-->
  <div class="form-group col-md-4">
    <div class="form-inline">
        <input class="form-control mr-sm-2" [(ngModel)]="miPalClave" [ngModelOptions]="{standalone: true}" type="search" placeholder="BUSCAR PRODUCTO" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscarPorPalClave()">BUSCAR</button>
    </div>  
  </div>
  <div class="form-group col-md-4">
    <!--PARA PRECIO-->
    <div class="form-inline">
      <select class="form-control" [(ngModel)]="tipoPrecio" [ngModelOptions]="{standalone: true}">
        <option>TIPO DE ORDEN</option> 
        <option>Precio ASC</option>
        <option>Precio DESC</option>
      </select>
      <button class="btn btn-success" style="margin-left: 25px;" (click)="buscarPorPrecio()">                  
        <i class="fas fa-search"></i>
        BUSCAR
      </button>
    </div>  
  </div>
  <div class="form-group col-md-4">
    <!--PARA BUSCAR CATEGORIA-->
    <div class="form-inline">
      <select class="form-control" [(ngModel)]="nomCatBuscar" [ngModelOptions]="{standalone: true}"> 
        <option>SELEC CATEGORIA</option>
        <option *ngFor="let nomCat of misCategorias" >{{nomCat}}</option>
      </select>
      <button class="btn btn-success" style="margin-left: 25px;" (click)="buscarPorCategoria()">                  
        <i class="fas fa-search"></i>
        BUSCAR
      </button>
    </div> 
  </div>
</div>


<!--LISTADO DE PRODUCTOS-->
<div class="float-md-left col-md-3" *ngFor="let aja of misProductos" style="padding: 5px;">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{aja[1]}}
            <button [routerLink]="['detalleProducto',aja[0]]" class="btn btn-success" alt=""><!--redireccionamos a ruta, y pasamos ID-->                
                <i class="fas fa-info-circle"></i></button>
        </div>        
        <div class="card-body">
            <img [src]="aja[5]" class="card-img-top" alt="" style="height: 200px; width: 200px;">
            <p>Precio: Q. {{aja[4]}}</p>
            <p>{{aja[6]}}</p>
        </div>
        <button class="btn btn-success btn-block" (click)="abrirVentanaCantidad(contenido,aja[0],aja[4],aja[1],aja[7])">
            AGREGAR A CARRO
        </button>
    </div>
</div>

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h5 class="modal-title">CANTIDAD</h5>
    <button type="button" (click)="aceptar()" aria-label="Close" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-12">
        <i class="fas fa-exclamation-triangle"></i>Porfavor ingrese un numero.
      </div>
      <div class="form-group col-md-12">
        Ingrese cantidad:
      </div>
      <div class="form-group col-md-12">
        <input [(ngModel)]="cantidadAdd" [ngModelOptions]="{standalone: true}" type="number" name="cantidad" placeholder="Cantidad" class="form-control">
      </div>       
      <button type="button" class="btn btn-outline-success btn-block" (click)="addCarrito()">AGREGAR</button>
    </div>
  </div>
</ng-template>

