<!--PARA QUE SIEMPRE SALGA LA BARRA DE NAVEGACION DE USUARIO-->
<app-navigation-usuario></app-navigation-usuario>

<form>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-outline-danger btn-block" style="margin: 15px;" (click)="comprar()">COMPRAR</button>
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-outline-danger btn-block" style="margin: 15px;" (click)="limpiar()">LIMPIAR</button>
  </div>
</form>

<div class="alert alert-danger" role="alert" *ngIf="alert">
  CREDITOS INSUFICIENTES
</div>

<table class="table table-bordered table-dark">
    <thead>
      <tr class="table-primary" style="color: black;">
        <th scope="col">PRODUCTO</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">PRECIO</th>
        <th scope="col">SUBTOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr style="color: white;" *ngFor="let celda of misProductos">
        <td>{{celda["nom_producto"]}}</td>
        <td>{{celda["cantidad"]}}</td>
        <td>{{celda["precio"]}}</td>
        <td>{{celda["subtotal"]}}</td>
      </tr>
      <tr class="table-info" style="color: black; font-size: 24px;">
          <td colspan="4">Total: Q. {{total}}</td>
      </tr>    
    </tbody>
</table>


